<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>Welcome to our Flight App</h1>
        <nav>
            {% block menu %} {% include 'menu.html' %} {% endblock menu %}
        </nav>
    </header>
    <main>
        <h1>Flight leaves from: {{flight.origination}} @ {{flight.departTime}}</h1>
        <h1>Flight lands at: {{flight.destination}} @ {{flight.arriveTime}}</h1>
        <h2>Flight Number: {{flight.flightNumber}}</h2>

        <form action="/flight/{{flight.id}}/update/", method="post">
            <section>
                <label for="origination">Origination:</label>
                <input type="text" name="origination" value='{{flight.origination}}'>
            </section>
            <section>
                <label for="destination">Destination: </label>
                <input type="text" name="destination" value='{{flight.destination}}'>
            </section>
            <section>
                <label for="flightNumber">Flight Number:</label>
                <input type="number" name="flightNumber" value='{{flight.flightNumber}}'>
            </section>
            <section>
                <label for="departTime">Departure Time:</label>
                <input type="datetime-local" name="departTime">
            </section>
            <section>
                <label for="arriveTime">Arrival Time:</label>
                <input type="datetime-local" name="arriveTime">
            </section>
            <button>Submit</button>
        </form>

        <button><a href="/flight/{{flight.id}}/delete">Delete Flight</a></button>
    </main>
    <footer>

    </footer>
    <script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js')}}"></script>
</body>
</html>