<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>Welcome to our Flight App</h1>
        <nav>
            {% block menu %} {% include 'menu.html' %} {% endblock menu %}
        </nav>
    </header>
    <main>
        <h1>Flight Leaves From: {{manifest.origination}} @ {{manifest.departTime}}</h1>
        <h1>Flight Lands At: {{manifest.destination}} @ {{manifest.arriveTime}}</h1>
        <h2>Flight Number: {{manifest.flightNumber}}</h2>
        <h3>Passenger List: </h3>
        <ol>
            {% for p in manifest.passengers %}
                <li>{{p.fullName()}}</li>
            {% endfor %}
        </ol>
    </main>
    <footer>

    </footer>
    <script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js')}}"></script>
</body>
</html>